<!doctype html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Prediction</title>
    </head>
    <center>
        <body>
            <br>
            <br>
            <br>
            <h1>Prediction Accuracy</h1>
            <b>Accuracy = {{accuracy}}</b>
            <br>
            <br>
            <h1>Experiment Details</h1>
            <div><b>Experiment Id = {{expid}}</b></div>
            <div><b>Run Id = {{runid}}</b></div>
        </body>
    </center>
</html>